In [232]:
import pickle

In [1]:
import pandas as pd 
from collections import OrderedDict
  
# reading csv file  
df=pd.read_csv("Data.csv")

In [2]:
from datetime import datetime
 
year = lambda x: datetime.strptime(x, "%Y-%m-%d" ).year
df['year'] = df['Date_of_Booking'].map(year)
df.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018

In [6]:
month = lambda x: datetime.strptime(x, "%Y-%m-%d" ).month
df['month'] = df['Date_of_Booking'].map(month)
df.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8

In [52]:
day = lambda x: datetime.strptime(x, "%Y-%m-%d" ).day
df['day'] = df['Date_of_Booking'].map(day)
df.head(25)

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,2018
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,2018
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,2018
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,2018
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,2018
5,YRKFO,4,2018-03-02,2018-03-05,A,13,2018,3,2,2018
6,JSFWY,5,2018-01-06,2018-01-07,C,14,2018,1,6,2018
7,GTLXK,6,2018-07-18,2018-07-21,B,13,2018,7,18,2018
8,BGNZX,7,2017-12-07,2017-12-12,D,16,2017,12,7,2017
9,TDVFU,8,2018-11-29,2018-11-29,C,10,2018,11,29,2018
10,LRPOS,8,2018-11-30,2018-11-30,C,14,2018,11,30,2018
11,HFTDN,9,2018-03-08,2018-03-09,B,14,2018,3,8,2018
12,QFVYK,10,2018-10-26,2018-10-30,D,13,2018,10,26,2018
13,CPXJN,11,2018-10-03,2018-10-03,C,15,2018,10,3,2018
14,UWZXB,12,2018-02-20,2018-02-23,B,11,2018,2,20,2018
15,SQLIO,13,2018-03-21,2018-03-25,A,15,2018,3,21,2018
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30,2018
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7,2018
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21,2018
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24,2018
20,CJIHM,14,2018-06-29,2018-07-01,C,8,2018,6,29,2018
21,BNNUV,14,2018-10-10,2018-10-12,B,17,2018,10,10,2018
22,TPGDF,15,2018-08-18,2018-08-23,B,15,2018,8,18,2018
23,HRKKV,16,2018-09-06,2018-09-10,D,8,2018,9,6,2018
24,MCQPG,17,2018-04-04,2018-04-07,C,14,2018,4,4,2018

In [187]:
day = lambda x: datetime.strptime(x, "%Y-%m-%d" )

df['DateofBooking'] = df['Date_of_Booking'].map(day)
#df['DateofServiceRequested']=df['Date_of_Service_Requested'].map(day)
df.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order,days_since_last_event,dateofbooking,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,10,NaT,2018-05-20,2018-05-21,1 days,NaN,2018-05-20
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,10,126 days,2018-09-23,2018-09-23,0 days,126.0,2018-09-23
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,10,NaT,2018-11-10,2018-11-13,3 days,NaN,2018-11-10
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,10,NaT,2018-04-12,2018-04-16,4 days,NaN,2018-04-12
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,10,115 days,2018-08-05,2018-08-06,1 days,115.0,2018-08-05

In [54]:
df=df.sort_values(by=['Profile ID', 'Date_of_Booking'],ascending=True)
df.tail(25)

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order
30915,BPNYR,16694,2018-11-13,2018-11-17,C,11,2018,11,13,2018
30916,JENSZ,16695,2018-02-20,2018-02-21,A,14,2018,2,20,2018
30917,JGLSN,16696,2018-02-05,2018-02-09,A,14,2018,2,5,2018
30918,HYEOX,16696,2018-09-18,2018-09-21,D,14,2018,9,18,2018
30919,MUJIJ,16696,2018-10-11,2018-10-12,C,14,2018,10,11,2018
30920,YDCRI,16697,2018-09-07,2018-09-09,A,13,2018,9,7,2018
30921,IIDTD,16698,2018-01-27,2018-01-29,C,14,2018,1,27,2018
30922,HVCTU,16699,2018-03-18,2018-03-18,C,15,2018,3,18,2018
30923,JMXSR,16699,2018-05-12,2018-05-17,C,14,2018,5,12,2018
30924,KAJSZ,16699,2018-09-05,2018-09-08,C,14,2018,9,5,2018
30925,KDWQG,16699,2018-11-23,2018-11-25,C,14,2018,11,23,2018
30926,AXVXL,16700,2018-10-02,2018-10-03,D,18,2018,10,2,2018
30927,IAHZC,16701,2018-07-18,2018-07-22,B,19,2018,7,18,2018
30928,VKTBI,16702,2018-04-25,2018-04-29,D,8,2018,4,25,2018
30929,YKKQV,16702,2018-07-24,2018-07-24,D,13,2018,7,24,2018
30930,VEAZT,16703,2018-09-03,2018-09-07,C,14,2018,9,3,2018
30931,VYOVF,16704,2018-10-13,2018-10-14,D,10,2018,10,13,2018
30932,VURKQ,16705,2017-12-01,2017-12-01,C,7,2017,12,1,2017
30933,TTGIO,16706,2018-08-22,2018-08-27,D,15,2018,8,22,2018
30934,SXRYD,16707,2018-03-09,2018-03-10,B,14,2018,3,9,2018
30935,FOXPU,16707,2018-09-29,2018-10-02,C,18,2018,9,29,2018
30936,ZNKAO,16708,2018-03-12,2018-03-16,A,13,2018,3,12,2018
30937,INBOS,16709,2018-01-05,2018-01-10,C,14,2018,1,5,2018
30938,CUNOS,16710,2018-02-26,2018-03-03,C,19,2018,2,26,2018
30939,DUBEV,16711,2018-04-30,2018-05-03,B,13,2018,4,30,2018

In [189]:
date_carts= ( df.groupby('Profile ID',as_index=False)
                                      .agg({'DateofBooking':(lambda x: list(x))})
                                      .rename(columns={'DateofBooking':'latest_cart'}))
date_carts.head(40)

    Profile ID                                        latest_cart
0            1         [2018-05-20 00:00:00, 2018-09-23 00:00:00]
1            2                              [2018-11-10 00:00:00]
2            3         [2018-04-12 00:00:00, 2018-08-05 00:00:00]
3            4                              [2018-03-02 00:00:00]
4            5                              [2018-01-06 00:00:00]
5            6                              [2018-07-18 00:00:00]
6            7                              [2017-12-07 00:00:00]
7            8         [2018-11-29 00:00:00, 2018-11-30 00:00:00]
8            9                              [2018-03-08 00:00:00]
9           10                              [2018-10-26 00:00:00]
10          11                              [2018-10-03 00:00:00]
11          12                              [2018-02-20 00:00:00]
12          13                              [2018-03-21 00:00:00]
13          14  [2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...
14          15                              [2018-08-18 00:00:00]
15          16                              [2018-09-06 00:00:00]
16          17                              [2018-04-04 00:00:00]
17          18         [2017-12-30 00:00:00, 2018-11-06 00:00:00]
18          19                              [2018-02-06 00:00:00]
19          20                              [2018-06-13 00:00:00]
20          21                              [2018-11-27 00:00:00]
21          22  [2018-01-29 00:00:00, 2018-04-26 00:00:00, 201...
22          23                              [2018-07-29 00:00:00]
23          24                              [2018-07-03 00:00:00]
24          25  [2017-12-30 00:00:00, 2018-05-14 00:00:00, 201...
25          26                              [2018-09-25 00:00:00]
26          27                              [2018-10-18 00:00:00]
27          28                              [2018-10-23 00:00:00]
28          29                              [2018-02-22 00:00:00]
29          30                              [2018-05-15 00:00:00]
30          31                              [2018-01-01 00:00:00]
31          32  [2018-02-24 00:00:00, 2018-06-04 00:00:00, 201...
32          33         [2018-03-06 00:00:00, 2018-10-05 00:00:00]
33          34         [2018-02-28 00:00:00, 2018-11-16 00:00:00]
34          35                              [2018-08-10 00:00:00]
35          36  [2018-01-17 00:00:00, 2018-02-25 00:00:00, 201...
36          37                              [2018-08-21 00:00:00]
37          38         [2018-01-21 00:00:00, 2018-09-04 00:00:00]
38          39         [2018-02-02 00:00:00, 2018-11-23 00:00:00]
39          40                              [2018-07-04 00:00:00]

In [171]:
#df['days_since_last_event'] = df['Date_of_Booking'].diff()
#df.head()

df['diff_minutes'] = df['DateofServiceRequested'] - df['DateofBooking']
df.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order,latest_cart,days_since_last_event,dateofbooking,DateofServiceRequested,DateofBooking,diff_minutes
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,10,"{2018-05-20, 2018-09-23}",2018-05-20,2018-05-20,2018-05-21,2018-05-20,1 days
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,10,"{2018-05-20, 2018-09-23}",2018-09-23,2018-09-23,2018-09-23,2018-09-23,0 days
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,10,{2018-11-10},2018-11-10,2018-11-10,2018-11-13,2018-11-10,3 days
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,10,"{2018-08-05, 2018-04-12}",2018-04-12,2018-04-12,2018-04-16,2018-04-12,4 days
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,10,"{2018-08-05, 2018-04-12}",2018-08-05,2018-08-05,2018-08-06,2018-08-05,1 days

In [175]:
df['days_since_last_event'] = df.groupby('Profile ID')['DateofBooking'].diff()

df['days_sincelast_event'] = df.groupby('Profile ID')['DateofBooking'].diff().apply(lambda x: x.days)
df.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order,latest_cart,days_since_last_event,dateofbooking,DateofServiceRequested,DateofBooking,diff_minutes,days_sincelast_event
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,10,"{2018-05-20, 2018-09-23}",NaT,2018-05-20,2018-05-21,2018-05-20,1 days,NaN
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,10,"{2018-05-20, 2018-09-23}",126 days,2018-09-23,2018-09-23,2018-09-23,0 days,126.0
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,10,{2018-11-10},NaT,2018-11-10,2018-11-13,2018-11-10,3 days,NaN
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,10,"{2018-08-05, 2018-04-12}",NaT,2018-04-12,2018-04-16,2018-04-12,4 days,NaN
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,10,"{2018-08-05, 2018-04-12}",115 days,2018-08-05,2018-08-06,2018-08-05,1 days,115.0

In [190]:
df = df.merge(date_carts, on='Profile ID')
df.head(20)

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order,days_since_last_event,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking,latest_cart
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,10,NaT,2018-05-21,1 days,NaN,2018-05-20,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]"
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,10,126 days,2018-09-23,0 days,126.0,2018-09-23,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]"
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,10,NaT,2018-11-13,3 days,NaN,2018-11-10,[2018-11-10 00:00:00]
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,10,NaT,2018-04-16,4 days,NaN,2018-04-12,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]"
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,10,115 days,2018-08-06,1 days,115.0,2018-08-05,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]"
5,YRKFO,4,2018-03-02,2018-03-05,A,13,2018,3,2,10,NaT,2018-03-05,3 days,NaN,2018-03-02,[2018-03-02 00:00:00]
6,JSFWY,5,2018-01-06,2018-01-07,C,14,2018,1,6,10,NaT,2018-01-07,1 days,NaN,2018-01-06,[2018-01-06 00:00:00]
7,GTLXK,6,2018-07-18,2018-07-21,B,13,2018,7,18,10,NaT,2018-07-21,3 days,NaN,2018-07-18,[2018-07-18 00:00:00]
8,BGNZX,7,2017-12-07,2017-12-12,D,16,2017,12,7,10,NaT,2017-12-12,5 days,NaN,2017-12-07,[2017-12-07 00:00:00]
9,TDVFU,8,2018-11-29,2018-11-29,C,10,2018,11,29,10,NaT,2018-11-29,0 days,NaN,2018-11-29,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]"
10,LRPOS,8,2018-11-30,2018-11-30,C,14,2018,11,30,10,1 days,2018-11-30,0 days,1.0,2018-11-30,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]"
11,HFTDN,9,2018-03-08,2018-03-09,B,14,2018,3,8,10,NaT,2018-03-09,1 days,NaN,2018-03-08,[2018-03-08 00:00:00]
12,QFVYK,10,2018-10-26,2018-10-30,D,13,2018,10,26,10,NaT,2018-10-30,4 days,NaN,2018-10-26,[2018-10-26 00:00:00]
13,CPXJN,11,2018-10-03,2018-10-03,C,15,2018,10,3,10,NaT,2018-10-03,0 days,NaN,2018-10-03,[2018-10-03 00:00:00]
14,UWZXB,12,2018-02-20,2018-02-23,B,11,2018,2,20,10,NaT,2018-02-23,3 days,NaN,2018-02-20,[2018-02-20 00:00:00]
15,SQLIO,13,2018-03-21,2018-03-25,A,15,2018,3,21,10,NaT,2018-03-25,4 days,NaN,2018-03-21,[2018-03-21 00:00:00]
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30,10,NaT,2018-05-01,1 days,NaN,2018-04-30,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7,10,38 days,2018-06-07,0 days,38.0,2018-06-07,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21,10,14 days,2018-06-23,2 days,14.0,2018-06-21,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24,10,3 days,2018-06-29,5 days,3.0,2018-06-24,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."

In [130]:
# get total past orders per user from max order number
df_date = (
    df.sort_values(by=['Profile ID', 'Date_of_Booking'],ascending=False)
    .groupby('Profile ID')
    ['Date_of_Booking'].nth(0)
)
df_date.tail(20)

Profile ID
16692    2018-07-16
16693    2018-11-26
16694    2018-11-13
16695    2018-02-20
16696    2018-10-11
16697    2018-09-07
16698    2018-01-27
16699    2018-11-23
16700    2018-10-02
16701    2018-07-18
16702    2018-07-24
16703    2018-09-03
16704    2018-10-13
16705    2017-12-01
16706    2018-08-22
16707    2018-09-29
16708    2018-03-12
16709    2018-01-05
16710    2018-02-26
16711    2018-04-30
Name: Date_of_Booking, dtype: object

In [191]:
x=df['latest_cart'].iloc[2]
print(x)
#date1=datetime.strptime(x[0], "%Y-%m-%d" )

[Timestamp('2018-11-10 00:00:00')]

In [193]:
test=df['latest_cart'].iloc[0]
#type(test)

list

In [ ]:
df['user_total_orders'] = (
    df.sort_values(by=['Profile ID', 'Date_of_Booking'],ascending=False)
    .groupby('user_id',as_index=False)
    ['order_number'].nth(0)
)

In [34]:
df_user =df.groupby('Profile ID')
df_user.get_group(14)

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30,2018
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7,2018
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21,2018
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24,2018
20,CJIHM,14,2018-06-29,2018-07-01,C,8,2018,6,29,2018
21,BNNUV,14,2018-10-10,2018-10-12,B,17,2018,10,10,2018

In [17]:
df_user.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5
5,YRKFO,4,2018-03-02,2018-03-05,A,13,2018,3,2
6,JSFWY,5,2018-01-06,2018-01-07,C,14,2018,1,6
7,GTLXK,6,2018-07-18,2018-07-21,B,13,2018,7,18
8,BGNZX,7,2017-12-07,2017-12-12,D,16,2017,12,7
9,TDVFU,8,2018-11-29,2018-11-29,C,10,2018,11,29
10,LRPOS,8,2018-11-30,2018-11-30,C,14,2018,11,30
11,HFTDN,9,2018-03-08,2018-03-09,B,14,2018,3,8
12,QFVYK,10,2018-10-26,2018-10-30,D,13,2018,10,26
13,CPXJN,11,2018-10-03,2018-10-03,C,15,2018,10,3
14,UWZXB,12,2018-02-20,2018-02-23,B,11,2018,2,20
15,SQLIO,13,2018-03-21,2018-03-25,A,15,2018,3,21
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24
20,CJIHM,14,2018-06-29,2018-07-01,C,8,2018,6,29
22,TPGDF,15,2018-08-18,2018-08-23,B,15,2018,8,18
23,HRKKV,16,2018-09-06,2018-09-10,D,8,2018,9,6
24,MCQPG,17,2018-04-04,2018-04-07,C,14,2018,4,4
25,IXAJB,18,2017-12-30,2018-01-03,C,14,2017,12,30
26,UVFIY,18,2018-11-06,2018-11-07,C,13,2018,11,6
27,MKPZY,19,2018-02-06,2018-02-08,C,14,2018,2,6
28,GHOIQ,20,2018-06-13,2018-06-16,A,17,2018,6,13
29,QIYRA,21,2018-11-27,2018-11-27,B,8,2018,11,27
30,PWHVT,22,2018-01-29,2018-02-02,A,15,2018,1,29
...,...,...,...,...,...,...,...,...,...
30869,RRCIM,16693,2017-12-05,2017-12-06,A,8,2017,12,5
30870,KATLV,16693,2017-12-15,2017-12-19,C,14,2017,12,15
30871,XIKPU,16693,2017-12-29,2018-01-03,A,9,2017,12,29
30872,KQZKX,16693,2018-01-07,2018-01-08,C,14,2018,1,7
30873,KEPHW,16693,2018-01-12,2018-01-17,D,14,2018,1,12
30915,BPNYR,16694,2018-11-13,2018-11-17,C,11,2018,11,13
30916,JENSZ,16695,2018-02-20,2018-02-21,A,14,2018,2,20
30917,JGLSN,16696,2018-02-05,2018-02-09,A,14,2018,2,5
30918,HYEOX,16696,2018-09-18,2018-09-21,D,14,2018,9,18
30919,MUJIJ,16696,2018-10-11,2018-10-12,C,14,2018,10,11
30920,YDCRI,16697,2018-09-07,2018-09-09,A,13,2018,9,7
30921,IIDTD,16698,2018-01-27,2018-01-29,C,14,2018,1,27
30922,HVCTU,16699,2018-03-18,2018-03-18,C,15,2018,3,18
30923,JMXSR,16699,2018-05-12,2018-05-17,C,14,2018,5,12
30924,KAJSZ,16699,2018-09-05,2018-09-08,C,14,2018,9,5
30925,KDWQG,16699,2018-11-23,2018-11-25,C,14,2018,11,23
30926,AXVXL,16700,2018-10-02,2018-10-03,D,18,2018,10,2
30927,IAHZC,16701,2018-07-18,2018-07-22,B,19,2018,7,18
30928,VKTBI,16702,2018-04-25,2018-04-29,D,8,2018,4,25
30929,YKKQV,16702,2018-07-24,2018-07-24,D,13,2018,7,24
30930,VEAZT,16703,2018-09-03,2018-09-07,C,14,2018,9,3
30931,VYOVF,16704,2018-10-13,2018-10-14,D,10,2018,10,13
30932,VURKQ,16705,2017-12-01,2017-12-01,C,7,2017,12,1
30933,TTGIO,16706,2018-08-22,2018-08-27,D,15,2018,8,22
30934,SXRYD,16707,2018-03-09,2018-03-10,B,14,2018,3,9
30935,FOXPU,16707,2018-09-29,2018-10-02,C,18,2018,9,29
30936,ZNKAO,16708,2018-03-12,2018-03-16,A,13,2018,3,12
30937,INBOS,16709,2018-01-05,2018-01-10,C,14,2018,1,5
30938,CUNOS,16710,2018-02-26,2018-03-03,C,19,2018,2,26
30939,DUBEV,16711,2018-04-30,2018-05-03,B,13,2018,4,30

In [27]:
user_df = df.groupby(['Profile ID'],as_index=False).agg(OrderedDict(
                                                   [('Transaction_ID','nunique'),
                                                    ('Date_of_Booking','count')]))

In [28]:
user_df.head(5)

   Profile ID  Transaction_ID  Date_of_Booking
0           1               2                2
1           2               1                1
2           3               2                2
3           4               1                1
4           5               1                1

In [180]:
df.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_prior_order,latest_cart,days_since_last_event,dateofbooking,DateofServiceRequested,DateofBooking_x,diff_minutes,days_sincelast_event,DateofBooking_y
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,10,"{2018-05-20, 2018-09-23}",NaT,2018-05-20,2018-05-21,2018-05-20,1 days,NaN,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]"
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,10,"{2018-05-20, 2018-09-23}",126 days,2018-09-23,2018-09-23,2018-09-23,0 days,126.0,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]"
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,10,{2018-11-10},NaT,2018-11-10,2018-11-13,2018-11-10,3 days,NaN,[2018-11-10 00:00:00]
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,10,"{2018-08-05, 2018-04-12}",NaT,2018-04-12,2018-04-16,2018-04-12,4 days,NaN,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]"
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,10,"{2018-08-05, 2018-04-12}",115 days,2018-08-05,2018-08-06,2018-08-05,1 days,115.0,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]"

In [184]:
df.drop('latest_cart',axis=1,inplace=True)

In [185]:
df.drop('DateofBooking_x',axis=1,inplace=True)

In [186]:
df.drop('DateofBooking_y',axis=1,inplace=True)

In [188]:
df.drop('dateofbooking',axis=1,inplace=True)

In [198]:
df.drop('days_since_prior_order',axis=1,inplace=True)

In [230]:
df.drop('apr',axis=1,inplace=True)

In [207]:
df[df['Profile ID']==14]

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_last_event,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking,latest_cart
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30,NaT,2018-05-01,1 days,NaN,2018-04-30,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7,38 days,2018-06-07,0 days,38.0,2018-06-07,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21,14 days,2018-06-23,2 days,14.0,2018-06-21,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24,3 days,2018-06-29,5 days,3.0,2018-06-24,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
20,CJIHM,14,2018-06-29,2018-07-01,C,8,2018,6,29,5 days,2018-07-01,2 days,5.0,2018-06-29,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."
21,BNNUV,14,2018-10-10,2018-10-12,B,17,2018,10,10,103 days,2018-10-12,2 days,103.0,2018-10-10,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201..."

In [211]:
values = {'days_sincelast_event': 0} 
    
df.fillna(value=values, inplace=True)

In [221]:
df.drop('labels',axis=1,inplace=True)

In [213]:
df.head()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_last_event,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking,latest_cart
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,NaT,2018-05-21,1 days,0.0,2018-05-20,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]"
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,126 days,2018-09-23,0 days,126.0,2018-09-23,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]"
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,NaT,2018-11-13,3 days,0.0,2018-11-10,[2018-11-10 00:00:00]
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,NaT,2018-04-16,4 days,0.0,2018-04-12,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]"
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,115 days,2018-08-06,1 days,115.0,2018-08-05,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]"

In [223]:
#df['days_sincelast_event'] = df.groupby('Profile ID')['DateofBooking'].diff().apply(lambda x: x.days)
#df['labels']=df.groupby('Profile ID')['days_sincelast_event'].diff()
df['labels']=df.groupby('Profile ID')['days_sincelast_event'].shift(periods=-1, fill_value=0)
df.head(24)

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_last_event,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking,latest_cart,labels
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,NaT,2018-05-21,1 days,0.0,2018-05-20,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]",126.0
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,126 days,2018-09-23,0 days,126.0,2018-09-23,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]",0.0
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,NaT,2018-11-13,3 days,0.0,2018-11-10,[2018-11-10 00:00:00],0.0
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,NaT,2018-04-16,4 days,0.0,2018-04-12,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]",115.0
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,115 days,2018-08-06,1 days,115.0,2018-08-05,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]",0.0
5,YRKFO,4,2018-03-02,2018-03-05,A,13,2018,3,2,NaT,2018-03-05,3 days,0.0,2018-03-02,[2018-03-02 00:00:00],0.0
6,JSFWY,5,2018-01-06,2018-01-07,C,14,2018,1,6,NaT,2018-01-07,1 days,0.0,2018-01-06,[2018-01-06 00:00:00],0.0
7,GTLXK,6,2018-07-18,2018-07-21,B,13,2018,7,18,NaT,2018-07-21,3 days,0.0,2018-07-18,[2018-07-18 00:00:00],0.0
8,BGNZX,7,2017-12-07,2017-12-12,D,16,2017,12,7,NaT,2017-12-12,5 days,0.0,2017-12-07,[2017-12-07 00:00:00],0.0
9,TDVFU,8,2018-11-29,2018-11-29,C,10,2018,11,29,NaT,2018-11-29,0 days,0.0,2018-11-29,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]",1.0
10,LRPOS,8,2018-11-30,2018-11-30,C,14,2018,11,30,1 days,2018-11-30,0 days,1.0,2018-11-30,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]",0.0
11,HFTDN,9,2018-03-08,2018-03-09,B,14,2018,3,8,NaT,2018-03-09,1 days,0.0,2018-03-08,[2018-03-08 00:00:00],0.0
12,QFVYK,10,2018-10-26,2018-10-30,D,13,2018,10,26,NaT,2018-10-30,4 days,0.0,2018-10-26,[2018-10-26 00:00:00],0.0
13,CPXJN,11,2018-10-03,2018-10-03,C,15,2018,10,3,NaT,2018-10-03,0 days,0.0,2018-10-03,[2018-10-03 00:00:00],0.0
14,UWZXB,12,2018-02-20,2018-02-23,B,11,2018,2,20,NaT,2018-02-23,3 days,0.0,2018-02-20,[2018-02-20 00:00:00],0.0
15,SQLIO,13,2018-03-21,2018-03-25,A,15,2018,3,21,NaT,2018-03-25,4 days,0.0,2018-03-21,[2018-03-21 00:00:00],0.0
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30,NaT,2018-05-01,1 days,0.0,2018-04-30,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",38.0
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7,38 days,2018-06-07,0 days,38.0,2018-06-07,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",14.0
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21,14 days,2018-06-23,2 days,14.0,2018-06-21,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",3.0
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24,3 days,2018-06-29,5 days,3.0,2018-06-24,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",5.0
20,CJIHM,14,2018-06-29,2018-07-01,C,8,2018,6,29,5 days,2018-07-01,2 days,5.0,2018-06-29,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",103.0
21,BNNUV,14,2018-10-10,2018-10-12,B,17,2018,10,10,103 days,2018-10-12,2 days,103.0,2018-10-10,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",0.0
22,TPGDF,15,2018-08-18,2018-08-23,B,15,2018,8,18,NaT,2018-08-23,5 days,0.0,2018-08-18,[2018-08-18 00:00:00],0.0
23,HRKKV,16,2018-09-06,2018-09-10,D,8,2018,9,6,NaT,2018-09-10,4 days,0.0,2018-09-06,[2018-09-06 00:00:00],0.0

In [228]:
def func(x):
    if(x<31 and x>0):
        return 1
    else:
        return 0


df['thirty']=df['labels'].map(func)
df.head(24)

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_last_event,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking,latest_cart,labels,apr,thirty
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,NaT,2018-05-21,1 days,0.0,2018-05-20,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]",126.0,0,0
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,126 days,2018-09-23,0 days,126.0,2018-09-23,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]",0.0,0,0
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,NaT,2018-11-13,3 days,0.0,2018-11-10,[2018-11-10 00:00:00],0.0,0,0
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,NaT,2018-04-16,4 days,0.0,2018-04-12,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]",115.0,0,0
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,115 days,2018-08-06,1 days,115.0,2018-08-05,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]",0.0,0,0
5,YRKFO,4,2018-03-02,2018-03-05,A,13,2018,3,2,NaT,2018-03-05,3 days,0.0,2018-03-02,[2018-03-02 00:00:00],0.0,0,0
6,JSFWY,5,2018-01-06,2018-01-07,C,14,2018,1,6,NaT,2018-01-07,1 days,0.0,2018-01-06,[2018-01-06 00:00:00],0.0,0,0
7,GTLXK,6,2018-07-18,2018-07-21,B,13,2018,7,18,NaT,2018-07-21,3 days,0.0,2018-07-18,[2018-07-18 00:00:00],0.0,0,0
8,BGNZX,7,2017-12-07,2017-12-12,D,16,2017,12,7,NaT,2017-12-12,5 days,0.0,2017-12-07,[2017-12-07 00:00:00],0.0,0,0
9,TDVFU,8,2018-11-29,2018-11-29,C,10,2018,11,29,NaT,2018-11-29,0 days,0.0,2018-11-29,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]",1.0,1,1
10,LRPOS,8,2018-11-30,2018-11-30,C,14,2018,11,30,1 days,2018-11-30,0 days,1.0,2018-11-30,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]",0.0,0,0
11,HFTDN,9,2018-03-08,2018-03-09,B,14,2018,3,8,NaT,2018-03-09,1 days,0.0,2018-03-08,[2018-03-08 00:00:00],0.0,0,0
12,QFVYK,10,2018-10-26,2018-10-30,D,13,2018,10,26,NaT,2018-10-30,4 days,0.0,2018-10-26,[2018-10-26 00:00:00],0.0,0,0
13,CPXJN,11,2018-10-03,2018-10-03,C,15,2018,10,3,NaT,2018-10-03,0 days,0.0,2018-10-03,[2018-10-03 00:00:00],0.0,0,0
14,UWZXB,12,2018-02-20,2018-02-23,B,11,2018,2,20,NaT,2018-02-23,3 days,0.0,2018-02-20,[2018-02-20 00:00:00],0.0,0,0
15,SQLIO,13,2018-03-21,2018-03-25,A,15,2018,3,21,NaT,2018-03-25,4 days,0.0,2018-03-21,[2018-03-21 00:00:00],0.0,0,0
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30,NaT,2018-05-01,1 days,0.0,2018-04-30,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",38.0,0,0
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7,38 days,2018-06-07,0 days,38.0,2018-06-07,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",14.0,1,1
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21,14 days,2018-06-23,2 days,14.0,2018-06-21,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",3.0,1,1
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24,3 days,2018-06-29,5 days,3.0,2018-06-24,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",5.0,1,1
20,CJIHM,14,2018-06-29,2018-07-01,C,8,2018,6,29,5 days,2018-07-01,2 days,5.0,2018-06-29,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",103.0,0,0
21,BNNUV,14,2018-10-10,2018-10-12,B,17,2018,10,10,103 days,2018-10-12,2 days,103.0,2018-10-10,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",0.0,0,0
22,TPGDF,15,2018-08-18,2018-08-23,B,15,2018,8,18,NaT,2018-08-23,5 days,0.0,2018-08-18,[2018-08-18 00:00:00],0.0,0,0
23,HRKKV,16,2018-09-06,2018-09-10,D,8,2018,9,6,NaT,2018-09-10,4 days,0.0,2018-09-06,[2018-09-06 00:00:00],0.0,0,0

In [229]:
def func(x):
    if(x<91 and x>0):
        return 1
    else:
        return 0


df['ninty']=df['labels'].map(func)
df.head(24)

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_last_event,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking,latest_cart,labels,apr,thirty,ninty
0,BBCHH,1,2018-05-20,2018-05-21,D,14,2018,5,20,NaT,2018-05-21,1 days,0.0,2018-05-20,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]",126.0,0,0,0
1,CHWFD,1,2018-09-23,2018-09-23,C,8,2018,9,23,126 days,2018-09-23,0 days,126.0,2018-09-23,"[2018-05-20 00:00:00, 2018-09-23 00:00:00]",0.0,0,0,0
2,DYDMF,2,2018-11-10,2018-11-13,C,11,2018,11,10,NaT,2018-11-13,3 days,0.0,2018-11-10,[2018-11-10 00:00:00],0.0,0,0,0
3,EZYSA,3,2018-04-12,2018-04-16,B,8,2018,4,12,NaT,2018-04-16,4 days,0.0,2018-04-12,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]",115.0,0,0,0
4,HWAKX,3,2018-08-05,2018-08-06,B,11,2018,8,5,115 days,2018-08-06,1 days,115.0,2018-08-05,"[2018-04-12 00:00:00, 2018-08-05 00:00:00]",0.0,0,0,0
5,YRKFO,4,2018-03-02,2018-03-05,A,13,2018,3,2,NaT,2018-03-05,3 days,0.0,2018-03-02,[2018-03-02 00:00:00],0.0,0,0,0
6,JSFWY,5,2018-01-06,2018-01-07,C,14,2018,1,6,NaT,2018-01-07,1 days,0.0,2018-01-06,[2018-01-06 00:00:00],0.0,0,0,0
7,GTLXK,6,2018-07-18,2018-07-21,B,13,2018,7,18,NaT,2018-07-21,3 days,0.0,2018-07-18,[2018-07-18 00:00:00],0.0,0,0,0
8,BGNZX,7,2017-12-07,2017-12-12,D,16,2017,12,7,NaT,2017-12-12,5 days,0.0,2017-12-07,[2017-12-07 00:00:00],0.0,0,0,0
9,TDVFU,8,2018-11-29,2018-11-29,C,10,2018,11,29,NaT,2018-11-29,0 days,0.0,2018-11-29,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]",1.0,1,1,1
10,LRPOS,8,2018-11-30,2018-11-30,C,14,2018,11,30,1 days,2018-11-30,0 days,1.0,2018-11-30,"[2018-11-29 00:00:00, 2018-11-30 00:00:00]",0.0,0,0,0
11,HFTDN,9,2018-03-08,2018-03-09,B,14,2018,3,8,NaT,2018-03-09,1 days,0.0,2018-03-08,[2018-03-08 00:00:00],0.0,0,0,0
12,QFVYK,10,2018-10-26,2018-10-30,D,13,2018,10,26,NaT,2018-10-30,4 days,0.0,2018-10-26,[2018-10-26 00:00:00],0.0,0,0,0
13,CPXJN,11,2018-10-03,2018-10-03,C,15,2018,10,3,NaT,2018-10-03,0 days,0.0,2018-10-03,[2018-10-03 00:00:00],0.0,0,0,0
14,UWZXB,12,2018-02-20,2018-02-23,B,11,2018,2,20,NaT,2018-02-23,3 days,0.0,2018-02-20,[2018-02-20 00:00:00],0.0,0,0,0
15,SQLIO,13,2018-03-21,2018-03-25,A,15,2018,3,21,NaT,2018-03-25,4 days,0.0,2018-03-21,[2018-03-21 00:00:00],0.0,0,0,0
16,OCGQD,14,2018-04-30,2018-05-01,C,14,2018,4,30,NaT,2018-05-01,1 days,0.0,2018-04-30,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",38.0,0,0,1
17,PRFVG,14,2018-06-07,2018-06-07,D,6,2018,6,7,38 days,2018-06-07,0 days,38.0,2018-06-07,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",14.0,1,1,1
18,SFYTJ,14,2018-06-21,2018-06-23,C,18,2018,6,21,14 days,2018-06-23,2 days,14.0,2018-06-21,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",3.0,1,1,1
19,SBKYD,14,2018-06-24,2018-06-29,C,8,2018,6,24,3 days,2018-06-29,5 days,3.0,2018-06-24,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",5.0,1,1,1
20,CJIHM,14,2018-06-29,2018-07-01,C,8,2018,6,29,5 days,2018-07-01,2 days,5.0,2018-06-29,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",103.0,0,0,0
21,BNNUV,14,2018-10-10,2018-10-12,B,17,2018,10,10,103 days,2018-10-12,2 days,103.0,2018-10-10,"[2018-04-30 00:00:00, 2018-06-07 00:00:00, 201...",0.0,0,0,0
22,TPGDF,15,2018-08-18,2018-08-23,B,15,2018,8,18,NaT,2018-08-23,5 days,0.0,2018-08-18,[2018-08-18 00:00:00],0.0,0,0,0
23,HRKKV,16,2018-09-06,2018-09-10,D,8,2018,9,6,NaT,2018-09-10,4 days,0.0,2018-09-06,[2018-09-06 00:00:00],0.0,0,0,0

In [235]:
df.tail()

,Transaction_ID,Profile ID,Date_of_Booking,Date_of_Service_Requested,Source,Slot of Booking (Hour of the Day),year,month,day,days_since_last_event,DateofServiceRequested,diff_minutes,days_sincelast_event,DateofBooking,latest_cart,labels,thirty,ninty
30935,FOXPU,16707,2018-09-29,2018-10-02,C,18,2018,9,29,204 days,2018-10-02,3 days,204.0,2018-09-29,"[2018-03-09 00:00:00, 2018-09-29 00:00:00]",0.0,0,0
30936,ZNKAO,16708,2018-03-12,2018-03-16,A,13,2018,3,12,NaT,2018-03-16,4 days,0.0,2018-03-12,[2018-03-12 00:00:00],0.0,0,0
30937,INBOS,16709,2018-01-05,2018-01-10,C,14,2018,1,5,NaT,2018-01-10,5 days,0.0,2018-01-05,[2018-01-05 00:00:00],0.0,0,0
30938,CUNOS,16710,2018-02-26,2018-03-03,C,19,2018,2,26,NaT,2018-03-03,5 days,0.0,2018-02-26,[2018-02-26 00:00:00],0.0,0,0
30939,DUBEV,16711,2018-04-30,2018-05-03,B,13,2018,4,30,NaT,2018-05-03,3 days,0.0,2018-04-30,[2018-04-30 00:00:00],0.0,0,0

In [233]:
df.to_pickle('features.pickle')

In [234]:
!ls

Feature.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
Untitled3.ipynb
UrbanClap Analytics Internship Test-1 - Data.csv
UrbanClap Analytics Internship Test-1.xlsx
features.pickle
urban.ipynb